<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("logo.png", class:"furima-icon"), "/" %>

    <%= form_with(url: search_records_path, local: true, method: :get, class:"search-form") do |f| %>
    <%= f.text_field :keyword, placeholder:'種目名から探す 例）サッカー',class:'input-box' %>
    <%= f.submit "検索", class:'search'%>
    <% end %>
  </div>
  <div class='nav'>
    <% if user_signed_in? %>
    <ul class='lists-right'>
      <li><%= link_to '新規投稿', new_record_path, class: "brand-list" %></li>
      <li><%= link_to "#{current_user.nickname}さんのマイページ", user_path(current_user.id), class: "user-nickname"%></li> 
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
     <% else %>
    <ul class='lists-right'>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>