<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      選手と一緒に築き上げていく
    </h2>
    <p class='service-explain'>
      BuildUpはコーチと選手のための<br>
      記録用アプリです
      上手くいったことも<br>
      上手くいかなかったことも<br>
      すべての出来事は<br>
      選手を成長させてくれます<br>
      日々を練習記録して<br>
      振り返りながら<br>
      試行錯誤しながら<br>
      選手とともに成長していきましょう<br>
      １日１日にの積み重ねが<br>
      選手の成長として<br>
      築き上げていかれるでしょう<br>
      さぁ、始めよう<br>
      BuildUp For Future Players
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
   
  </div>
  <%# /画面上部の帯部分  %>
   
  <%# 3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      BuildUpができる3つの機能
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "osusume01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>簡単に
          <span class='reason-list-blue-text'>記録できる</span>
          
        </h3>
        <p class='reason-list-description'>
          フォーマットに沿って入力するだけで簡単に練習内容や出来事を記録できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "osusume02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
        いつでも
          <span class='reason-list-blue-text'>確認できる</span>
        
        </h3>
        <p class='reason-list-description'>
          記録を確認し、振り返ることで選手の成長を実感できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          記録を
          <span class='reason-list-blue-text'>シェア</span>
        </h3>
        <p class='reason-list-description'>
          記録を共有することで、指導者仲間の輪が広がる！
        </p>
      </li>
    </ul>
  </div>
  <%# 3つの理由部分 %>
<div class='ad-contents'>
    <h2 class='ad-title'>
      思い出の一枚を忘れずに
    </h2>
    <p class='ad-explain'>
      ただ、こなすだけの練習ではなく<br>
      一日一日の印象的なシーンを<br>
      写真も忘れずに投稿しましょう。<br>
      記録を見直したときに<br>
      昔の自分の感情を忘れないために。
    </p>
<div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <
  <%# 投稿一覧 %>
  <div class='item-contents'>
    <h2 class='title'>New Records</h2>
    <%= link_to '新規投稿記録', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @records.each do |record| %>
      
      <li class='list'>
        <%= link_to record_path(record.id) do %>
        <div class='item-img-content'>
          <%= image_tag record.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= record.tr_theme %>
          </h3>
          <div class='item-price'>
            <span><%= record.event %><br><%= record.user.nickname %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
      
       <% if @records[0] == nil %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            記録を投稿してね！
          </h3>
          <div class='item-price'>
            <span>スポーツの種目名<br>投稿者</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
       <% end %> 
      </li>
      
    </ul>
  </div>
  <%# /投稿一覧 %>
</div>
<%= link_to(new_record_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>記録する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>