<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('logo.png' , size: '120x120'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">練習記録の情報を入力</h2>
    <%= form_with(model: @record, local: true) do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 練習記録画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        思い出の1枚
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# 練習記録画像 %>
    <%# TRテーマと説明・感想 %>
    
    <div class="new-items">
      <div class="weight-bold-text">
        練習のテーマ
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :tr_theme, class:"items-text", id:"item-name", placeholder:"例）シュート練習（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          練習の内容・感想
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :tr_content, class:"items-text", id:"item-info", placeholder:"練習の説明（必須 1,000文字まで）（練習内容のポイント、感想など）例）シュート練習をしました。いろいろな種類のシュート練習をしたので、子ども達はとても楽しそうでした。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# TRテーマと説明・感想 %>

    <%# TRの詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">練習の詳細</div>
      <div class="form">
       <div class="weight-bold-text">
          練習日
          <span class="indispensable">必須</span>
        </div>
         <div class='input-birth-wrap'>
          <%= raw sprintf(
                  f.date_select(
                    :tr_day,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1990,
                    end_year: (Time.now.year),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
        <div class="weight-bold-text">
          スポーツの種目
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :event, class:"items-text", id:"item-name", placeholder:"種目名（必須 10文字まで)", maxlength:"10" %>
        <%# <%= f.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"select-box", id:"item-category"}) %> 
        <div class="weight-bold-text">
          カテゴリー・学年
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id,Category.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
    
    
    <%# /TRの詳細 %>

    <%# 振り返り %>
    <div class="items-detail">
      <div class="weight-bold-text question-text">
        <span>練習の振り返り</span>
      </div>
      <div class="form">
        <div class="weight-bold-text">
          練習の評価
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:evaluation_id, Evaluation.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
        <div class="weight-bold-text">
          練習のMVP
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :mvp, class:"items-text", id:"item-name", placeholder:"例)田中　太郎君", maxlength:"10" %>
        <div class="weight-bold-text">
          MVPの理由（一言で）
          <span class="indispensable">必須</span>
        </div>
       <%= f.text_area :mvp_reason, class:"items-text", id:"item-name", placeholder:"例)いつもより笑顔が多かった", maxlength:"40" %>
      </div>
    </div>
    
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">ビルドアップ利用規約</a></li>
    </ul>
    <%= link_to image_tag('logo.png' , size: '120x120'), "/" %>
    <p class="inc">
      ©︎Build.Up,Inc.
    </p>
  </footer>
</div>