<%= render "shared/header" %>

<%# 記録の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
    <p>練習のテーマ</p>
      <%= "[#{@record.tr_theme}]" %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @record.image ,class:"item-box-img" %>
    </div>

 <% if user_signed_in? && current_user.id == @record.user_id  %>
    <%= link_to '練習記録の編集', edit_record_path(@record.id), method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', record_path(@record.id), method: :delete, class:'item-destroy' %>
<% elsif user_signed_in? %>
    <%= link_to " #{@record.user.nickname}さんの投稿一覧", user_path(@record.user.id) ,class:"item-red-btn"%>   
 <% end %>

  

    <div class="item-explain-box">
     <div class="item-price-box">
    </div>
      
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @record.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">種目</th>
          <td class="detail-value"><%= @record.event %></td>
        </tr>
        <tr>
          <th class="detail-item">練習日</th>
          <td class="detail-value"><%= @record.tr_day %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @record.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">MVP</th>
          <td class="detail-value"><%= @record.mvp %></td>
        </tr>
        <tr>
          <th class="detail-item">MVPに選んだ理由</th>
          <td class="detail-value"><%= @record.mvp_reason %></td>
        </tr>
        <tr>
          <th class="detail-item">練習の評価</th>
          <td class="detail-value"><%= @record.evaluation.name %></td>
        </tr>
         <tr>
          <th class="detail-item">練習の内容や感想</th>
          <td class="detail-value"><%= @record.tr_content %></td>
        </tr>
        
      </tbody>
    </table>
    <% if user_signed_in?  %>
    <div class="option" >
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <p><span>お気に入り登録: </span><%=link_to @record.likes.count, record_likes_path(@record.id), method: :post %></p>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <p><span>お気に入り解除: </span><%=link_to @record.likes.count, record_likes_path(@record.id), method: :delete %></p>
      </div>
      <div class="count-btn">
        <p><span>お気に入りされた数: </span><%= @record.likes.count %></p>
      </div>
      <% else %>
       <div class="count-btn">
        <p><span>お気に入りされた数: </span><%= @record.likes.count %></p>
      </div>
        <p>※※※お気に入りをするにはユーザー登録をしましょう※※※</p>
      <% end %>
    </div>
  </div>
  <%# /記録の概要 %>
  <div class="comment-box">
     <% if user_signed_in? %>
        <%= form_with(model: [@record,@comment],local:true) do |f| %>
            <div class="comments">
              <%= f.label :text, "コメントをしよう" %><br />
              <%= f.text_field :text , rows: "2" %>
              <p class="comment-warn">
                相手のことを考え丁寧なコメントを心がけましょう。
              <br>
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
              </p>
            </div>
            <div class="actions">
               <%= f.submit "送信する", class: :comment_btn  %>
            </div>
         <% end %>
         <ul class="comments">
         <h3>＜コメント一覧＞</h3>
          <% if @comments %>
            <% @comments.each do |comment| %>
                <li class="comments">
                   <%= link_to comment.user.nickname, user_path(comment.user_id), class: :comment_user %>
                   <%= comment.text %><br>
                  <%= link_to 'コメントを削除する', record_comment_path(@record, comment), confirm: 'Are you sure?', method: :delete %>
               </li>
           </ul>
          <% end %>
        <% end %>  
    <% end%>
       
        
  </div>
  
  
</div>

<%= render "shared/footer" %>
